
#shape0 {
  position:absolute;
  z-index: -3;
}

#shape1 {
  position:absolute;
  z-index: -4;
}

#shape2 {
  position: absolute;
  z-index: -2;
}

#shape3 {
  position: absolute;
  z-index: -1;
}

main {
  width: 100%;
  position: absolute;
  margin-top: 250px;
  /* display: flex; */
  text-align: center;
  /* justify-content:space-around; */
}


