main {
  width: 100%;
  padding: 0 50px;
  position: absolute;
  margin-top: 225px;
  display: flex;
  justify-content:space-evenly;
}

nav {
  position: absolute;
}

#shape0 {
  position:absolute;
  z-index: -3;
}

#shape1 {
  position:absolute;
  z-index: -4;
}

#shape2 {
  position: absolute;
  z-index: -2;
}

#logo {
  width: 230px;
  left: 37px;
  top: 29px;
  position: absolute;
  z-index: -1;
}
