main {
  width: 100%;
  position: absolute;
  margin-top: 250px;
  display: flex;
  justify-content:space-around;
}

#shape0 {
  position:absolute;
  z-index: -3;
}

#shape1 {
  position:absolute;
  z-index: -4;
}

#shape2 {
  position: absolute;
  z-index: -2;
}

#logo {
  width: 110px;
  left: 50px;
  top: 50px;
  position: absolute;
  z-index: -1;
}
